@model BookShop.Domain.Genre

@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <h4>Редактирование информации о жанре</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group d-flex flex-wrap justify-content-around">
                <div class="col-10">
                    <div>
                        @Html.LabelFor(model => model.Name, "Название", new { @class="fw-semibold fs-5" })<br>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class="form-control"} } )
                    </div>
                    <div>
                        @Html.LabelFor(model => model.Description, "Описание", new { @class="fw-semibold fs-5" })<br>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class="form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                 <div class="col-md-4 my-3">
                        <input type="submit" value="Сохранить" class="btn btn-outline-dark btn-lg" />
                 </div>
            </div>
        </div>
    }

</div>