@model BookShop.Domain.Book
@using BookShop.Domain
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
    Авторы:
    <code>
        <dl>
            @foreach (var item in (IEnumerable<BookAuthor>)ViewBag.BookAuthors)
            {
                <dt>
                    @item.Author.FirstName
                </dt>
            }
        </dl>
    </code>
    Жанры:
    <code>
        <dl>
            @foreach (var item in (IEnumerable<BookGenre>)ViewBag.BookGenres)
            {
                <dt>
                    @item.Genre.Name
                </dt>
            }
        </dl>
    </code>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
